# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# SQLite databases
*.db
database/*.db

# macOS
.DS_Store

# VSCode / IDE
.vscode/
.idea/
